@model AspNet.CRUD.ViewModel.PaginacaoViewModel

@*
Criar páginação:
* Paginação 10 itens por página
* Primeira e ultima página
* Campo númerico
* Submeter página atual
* Dica: ViewBag
* A paginação deverá atualizar o formulário através de javascript
*@

@{
  var Pages = Math.Ceiling(ViewBag.dados / ViewBag.Count);
 }

<div id="bottom" class="row">
	<div class="col-md-12">
		<ul class="pagination">
            <li class="pagination" data-value="1"><button class="btn btn-secondary" id="FirstPage">Primeira Página</button></li>
            <li class="pagination" data-value=@Math.Ceiling(ViewBag.dados / ViewBag.Count);><button class="btn btn-secondary" id="LastPage">Última Página</button></li>
            <input class="text-box single-line pagination form-control-row" data-val="true" id="ChoisePage" name="pageIndex" type="number" max=@Pages min="1">
            <button id="SearchPage" class="btn btn-secondary">Procurar</button>
        </ul>
	</div>
</div>

<script type="text/javascript">
    $("#FirstPage,#LastPage,#SearchPage").unbind();

    $('#FirstPage').click(function () {
        $("#FirstPage").unbind();
        $.ajax({
            type: "POST",
            url: "Jumper/Index",
            data: { pageIndex: 1 },
            success: function (data) {
                $("#resultSearch").html(data);
                $("#FirstPage").attr('disabled', 'disabled');
                $("#FirstPage").css('cursor', 'not-allowed');
            },
            error: function () {
            }
        });
    });

    $('#LastPage').click(function () {
        $("#LastPage").unbind();
        $.ajax({
            type: "post",
            url: "Jumper/Index",
            data: { pageIndex: @Pages },
            success: function (data) {
                $("#resultSearch").html(data);
                $("#LastPage").attr('disabled', 'disabled');
                $("#LastPage").css('cursor', 'not-allowed');
            },
            error: function () {
            }
        });
    });

    $('#SearchPage').click(function () {
        $("#ChoisePage").unbind();
        var EscolhaPagina = $('#ChoisePage').val();
        $.ajax({
            type: "POST",
            url: "Jumper/Index",
            data: { pageIndex: EscolhaPagina },
            success: function (data) {
                $("#resultSearch").html(data);
                if(EscolhaPagina == 1 || EscolhaPagina == ""){
                    $("#FirstPage").attr('disabled', 'disabled');
                    $("#FirstPage").css('cursor', 'not-allowed');
                }
                else if (EscolhaPagina == @Pages){
                    $("#LastPage").attr('disabled', 'disabled');
                    $("#LastPage").css('cursor', 'not-allowed');
                }
            },
            error: function () {
            }
        });
    });

</script>