@model AspNet.CRUD.ViewModel.PaginacaoViewModel

@*@Model.Count
@Model.PageIndex 
@Model.Form*@

@*
Criar páginação:
* Primeiro e ultima página
* Campo númerico
* Renderizar a quantidade de botões
* O count será o total de botões
* Dica: ViewBag
* A paginação deverá atualizar o formulário através de javascript
* Submeter página atual


*@

@*@{Html.RenderPartial("asfsafasf", new AspNet.CRUD.ViewModel.PaginacaoViewModel()){ Count = 12, Form = "teste", PageIndex = 0, PageIndexName = "pageIndex" });}*@

@*Paginação 10 itens por página*@
<div id="partialView"></div>
<div id="bottom" class="row">
	<div class="col-md-12">
		<ul class="pagination">
            <li id="FirstPage" class="paginacao" data-value="1"><a>Primeira Página</a></li>
            <li id="LastPage" class="paginacao" data-value="@Math.Ceiling(ViewBag.dados / ViewBag.count)"><a>Última Página</a></li>
            <input class="text-box single-line paginacao" data-val="true" id="EscolhaPagina" name="pageIndex" type="number" max="@Math.Ceiling(ViewBag.dados / ViewBag.count)" min="1">
        </ul>
	</div>
</div>

<script type="text/javascript">

    var paginas = Math.Ceiling(ViewBag.dados / ViewBag.count);


    $('#@Model.Form').find('[name=pageIndex]');
    $('#@Model.Form').submit();

    $('#FirstPage').click(function () {
        $.ajax({
            type: "POST",
            url: "~/JumperController/Index",
            data: { pageIndex: EscolhaPagina },
            success: function (data) {
                alert("");
                $("#partialView").html(data);
            },
            error: function () {
                alert("");
            }
        });
    });

    $('#LastPage').click(function () {
        $.ajax({
            type: "post",
            url: "~/jumpercontroller/index",
            data: { pageindex: escolhapagina },
            success: function (data) {
                alert("deu bom");
                $("#partialview").html(data);
                console.log("abcdefghijklmnopqrstuywyz");
            },
            error: function () {
                alert("deu ruim");
            }
        });
    });

    $('#EscolhaPagina').click(function () {
        var EscolhaPagina = $('#EscolhaPagina').val();
        $.ajax({
            type: "POST",
            url: "~/JumperController/Index",
            data: { pageIndex: EscolhaPagina },
            success: function (data) {
                alert("deu bom");
                $("#partialView").html(data);
            },
            error: function () {
                alert("deu ruim");
            }
        });
    });
</script>