@{ViewBag.Title = "Página Inicial";}
@section scripts
{
    <script type="text/javascript">
        function pesquisarOnSuccess(data) {
            console.log(data);
        }
        $(document).ready(function () {
            $("[data-acao=excluir]").on('click', function () {
                var self = $(this);

                var modalHtml = $("[data-id=delete-modal]").clone();
                var modalObj = $(modalHtml).Cmodal({
                    keyboard: false
                });

                modalObj.find('[data-id=confirmRemove]').click(function () {
                    $.post(self.attr('data-excluirUrl'), function (data) {
                        if (data.Success) {
                            modalObj.modal('hide');
                        }
                    });
                });
            });
        });
    </script>
}
<div class="container-fluid">
    @using (Ajax.BeginForm(actionName: "Index", controllerName: "Jumper", routeValues: null, ajaxOptions: new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "resultSearch", OnSuccess = "pesquisarOnSuccess"  }, htmlAttributes: new { /*HTML*/ }))
    {
        <input type="text" name="search" />
        <input type="submit" value="Pesquisar" class="btn btn-default" />
    }
    <div id="resultSearch">
    </div>
</div>