@{ViewBag.Title = "Página Inicial";}
@section scripts
{
    <script type="text/javascript">
        var modalConfirmacao = null;

        function confirmacaoExcluirOnSuccess(data) {
            var html = $($.trim(data));
            modalConfirmacao = $(html).modal();
        };

        function excluirOnSuccess(json) {
            if (modalConfirmacao != null) {
                
                modalConfirmacao = null;
            }
        }
    </script>
}
<div class="container-fluid">
    @using (Ajax.BeginForm(actionName: "Index", controllerName: "Jumper", routeValues: null, ajaxOptions: new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "resultSearch" }, htmlAttributes: new { /*HTML*/ }))
    {
        <div id="top" class="row">
	        <div class="col-md-3"></div>
            <div class="col-md-6">
		        <div class="input-group h2">
			        <input name="search" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
			        <span class="input-group-btn">
				        <button class="btn btn-primary" value="Pesquisar" type="submit">
					        <span class="glyphicon glyphicon-search"></span>
				        </button>
			        </span>	
		        </div>
	        </div>
            <div class="col-md-3">
                <a href="/Jumper/Adicionar" class="btn btn-primary pull-right h2">Novo Item</a>
            </div>
        </div>
    }
    <div id="resultSearch">

    </div>
</div>