@model AspNet.CRUD.Models.Jumpers

@{ViewBag.Title = "Visualizar";}
<br>
	<body>
        <br><br>
		<div id="main" class="container-fluid">
        <fieldset>
            <legend>Dados do jumper</legend>
                @Html.HiddenFor(model => model.IDJumpers)
            <div class="editor-label">
                <label>Tipo de Jumper</label>
            </div>
                <label>@Model.TypeJumpers</label>
            <div class="editor-label">
                <label>Quantidade</label>
            </div>
            <div class="editor-field">
                <label>@Model.QntdJumpers</label>
            </div>
        </fieldset>
	 		<hr />
            @Html.ActionLink("Voltar", "Index")
		</div>
	</body>